#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-direction: column;
    font-family: sans-serif;
}
.message{
    width: 100%;
    height: auto;
    margin: 0 auto;
    min-width: 300px;
}



.progress-holder{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: white;
    padding: .25rem;
    position: relative;
}
.progressbar{
    width: 1%;
    height: 30px;
    background: purple;
    position: relative;
}

.progressbar-text{
    width: auto;
    height: auto;
    font-size: .8rem;
    color: white;
    position: absolute;
    top: 50%;
    left: .75rem;
	transform: translateY(-50%);
	z-index: 9;
}

.progressbar-text .title{
    margin-right: .5rem;
}
.progressbar-text .prog{
    font-weight: 700;
}

.js-loader{
    width: 100%;
    margin: 0 auto;
    word-break: break-all;
	margin-bottom: 10px;
}

.bred{
    border: 1px solid red;
}
.bblu{
    border: 1px solid blue;
}
.bgrn{
    border: 1px solid green;
}

.done{
    background-color: yellow;
}